@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=wrap');

body{
  margin: 0;
  padding: 0;
  background: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
h1{
  font-family: 'Orbitron', sans-serif;
  font-size: 4em;
  font-weight: 500;
  color: #71d704
}
.App{
  width: 25em;
  height: 12em;
  background: #0b0d0e;
  border-radius: 20px;
}
.App, .screen{
  display: flex;
  justify-content: center;
  align-items: center;
}